:root {
  --c-default-text: rgba(244, 244, 244, 1);
  --c-default-text-120: rgba(255, 255, 255, 1);
  --c-default-text-80: rgba(255, 255, 255, 0.7);
  --c-default-text-60: rgba(255, 255, 255, 0.54);
  --c-default-background: #242424;
  --c-default-background-120: #202020;
  --c-default-background-80: #282828;
  --c-default-background-60: #414141;
  --c-default-shadow: #333333cc;

  font-family: Ubuntu, Inter, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: var(--c-default-text);
  background-color: var(--c-default-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}

html {
  font-size: 62.5%;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

#app {
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    --c-default-text: #213547;
    --c-default-text-120: rgba(0, 0, 0, 1);
    --c-default-text-80: rgba(0, 0, 0, 0.7);
    --c-default-text-60: rgba(0, 0, 0, 0.54);
    --c-default-background: #ddd;
    --c-default-background-120: #fff;
    --c-default-background-80: #aaa;
    --c-default-background-60: #999;
    --c-default-shadow: #333333cc;
  }
}
